<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="mir.oslav.jet.html.article.androidx-startup"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:authorities">
            <meta-data
                android:name="mir.oslav.jet.html.article.NativeLibraryInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>